
.text{
    display: flex;
    justify-content: right;
    gap: 40px;
    color: #f0f8ff;
    background-color: pink;
    font-size: 30px;
    padding: 10px;
    /* position: fixed;
    z-index: 1;
    top: 20px; 
    right: 20px; */
    opacity: 1;


}
text :hover {
    background-color: white;
    height: 40px;
    
}
 .all img{
    width: 100%;
   height: 1000px;
    
    
 }
 .all{
    position:relative;
 }
 .all h1{
    
    font-size: 60px;
    justify-content:right;
    font-family: "EB Garamond", serif;
   

 }
 .all p{
    font-size: 30px;
    justify-content: left;
 }
 .all button{
   width: 200px;
   border-radius: 15% ;
   background-color: pink;
   color: #040404;
   font-size: medium;
   justify-content: left;
   height: 60px;
 }


.back {
   display: block;
  width: 300px;
  height: 260%;
  
}
.soz{
   position: absolute;
   top: 55%;
   right: 45%;
   transform: translate(-50%, -50%);
   color: rgb(248, 239, 242);
   font-size: 80px;
   font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
   border-radius: none;
}
.all{
   position: relative;}
   
  .bet{
   display: flex;
   justify-content: center;
  }
  .desc{

   justify-content: flex-end;
   top: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   text-align: right;
   
  }
 
  .wrapper{
   max-height: 400px;
   border: 1px solid white;
   display: flex;
   overflow-x: auto;
  }
  .wrapper::-webkit-scrollbar{
   width: 0;
  }
  .wrapper.item{
   min-width: 300px;
   height: 300px;
   line-height: 300px;
   text-align: center ;
   background-color: white;
   margin-right:2px ;
  }
 



  .heading{
   text-align: center;
   font-size: 4rem;
   color: #f783c1;
   padding: 1rem;
   margin: 2rem;
   background: #f4eeee;
  }
  .heading span{
   color: var(pink);
  }
  .heading{
   font-size:3rem ;
  }
  .About .row{
   display:flex ;
   align-items: center;
   gap: 2rem;
   flex-wrap: wrap;
   padding: 2rem 0;
   padding-bottom: 3rem;
  }
  .About .row .phon{
   flex: 1 1 40rem;
   position: relative;
  }
  .About .row .phon img{
   width: 70%;
   border: 1.5rem solid white ;
   box-shadow: 0 .5rem 1rem black;
   border-radius: 5rem;
   height: 50%;
   object-fit: cover;
   overflow: hidden;
   position: relative;
  }
  
  .phon img{
   position: absolute;
  }
  .About .row .content {
   flex: 1 1 40rem;
  }
  .About .row .content h3{
   font-size: 3rem;
   color: #f783c1;
   display: flex;
  }
  .About .row .content p{
   font-size: 1.5rem;
   color: pink;
   padding: 5rem 0;
   padding-top: 1rem;
   line-height: 1.5rem;
  }
  .content ul{
   font-size: 2rem;
   color: #027878;
  }
  .end{
  
  margin: 20px;
  gap: 20px;
   display: flex;
   flex-direction: column;
   
  }
.jaz{
   display: flex;
   text-align: center;
   justify-content: center;
   margin-top: 20px;
   color: #f783c1;
   background-color: #f4eeee;
}
.head p{
   display: flex;
   justify-content: right;
   text-align: right;
   font-size: 2rem;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
   

}
.head {
   width: 30%;
   border: 1.5rem solid white ;
   box-shadow: 0 .5rem 1rem black;
   border-radius: 5rem;
   height: 50%;
   object-fit: cover;
   overflow: hidden;
   /* position: relative; */
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrDDzQQJ5a8ZbT17_jnxInPb-S2nPkDESztw&s);
  
  
}
.wrap{
   margin: 50px;
   max-height: 400px;
   border: 1px solid white;
   display: flex;
   overflow-x: auto;
  }
  .wrap::-webkit-scrollbar{
   width: 0;
  }
  .wrap.item{
   min-width: 300px;
   height: 300px;
   line-height: 300px;
   text-align: center ;
   background-color: white;
   margin-right:2px ;
  }
  .soz2 {
   font-size: 30px;
   display: flex;
   justify-content: baseline;
   flex-direction: column;
  }
  .part3 p{
   font-size: 40px;
   display: flex;
  }
  .foot{
   font-size: large;
   margin: 20px;
  }
  .title{
   display: flex;
   justify-content: center;
   font-size: 20px;
   color: #f783c1;
   background-color: #f4eeee;
  }
  .menu{
   display: flex;
   justify-content: center;
   color: rgb(10, 50, 19);
  }
  
  
      
    
  

   

   /* <podarok start> */
   .gift {
 display: flex;
 text-align: center;
 font-size: 30px;
 justify-content: center;
 color: #f783c1;
 background-color:#f4cbc7;
   }
div.gallery{
   margin: 5px;
   border: 1px solid#ccc;
   width: 380px;
}
div.gallery:hover {
border: 1px solid#777;
}
div.gallery img{
   width: 100%;
  
}
div.desk{
   padding: 50px;
   text-align: center;
}
.position{
  margin-left: 590px;
   justify-content: center;
   margin-top:80px ;
   padding-bottom: 90px;
   padding-top: 100px;
   position: fixed;
   
}

.flower{
   display: flex;
   justify-content: center;
   text-align: center;
   color: #fbf5f5;
   font-size: 20px;
   background-color:pink;
}
.menu{
   text-align: start;
   display: flex;
   justify-content: flex-start;
   font-size: 15px;
}
 .desc{
   display: flex;
   justify-content: center;
   justify-content: right;
   font-size: 200%;
}
.zakaz{
   margin-left: 590px;
   margin-right:410px ;
   justify-content: center;
   margin-top:60px ;
   padding-bottom: 90px;
   padding-top: 100px;
   background-color:#CFECC9;
   position: fixed;
   width: 850px;
   border: 10px solid white;
   border-radius: 30px;
   height: 600px;
   text-align: center;
   font-size: 20px;

   
}
.inputt{
   width: 400px;
   height: 350px;
   margin: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-size: 30px;
   
}
.inputt input{
   padding: 10px;
   background-color: #f1fbf4;
   color: #0c0c0c;
   border: none;
   border-radius: 5px;
   font-size: 16px;
}
/* <flower abour> */

a{
   text-decoration: none;
   
}

.inside{
margin: -550px;
font-size: 25px;
margin-left: 300px;
padding: 10px;



}
.inside input{
   margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 20px;
}
.next a{
   display: flex;
  text-align: center;
  font-size: 30px;
  width: 90px;
  justify-content: center;
  height: 40px;
  background-color: #027878;
  border-radius:2px  white;
  color: aliceblue;
}
.next{
   display: flex;
   justify-content: end;
}
.nex a{
   display: flex;
  text-align: center;
  font-size: 30px;
  width: 90px;
  justify-content: center;
  height: 40px;
  background-color:#83A3BE;
  border-radius:2px  white;
  color: aliceblue;
}
.nex{
   display: flex;
   justify-content: start;
}
button {
   padding: 10px;
   background-color: #285da7;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
}

button:hover {
   background-color: #f1f1f1;
}

 
@media (max-width: 768px) {
   .text {
       padding: 2em; 
   }

   h1 {
       font-size: 1em;
       align-items: center;
   }
   p{
      align-items: flex-end;
   }

   .wrapper {
       flex-direction: column; 
       align-items: center; 
   }

   .end {
       flex-direction: column; 
       align-items: self-start; 
   }
}
  




@media (max-width: 768px) {
   .head img {
       width: 90%; 
       
      
   }

   .item {
       width: 80%; 
   }

   .wrap {
       flex-direction: column; 
       align-items: center; 
   }
}
   

@media (max-width: 768px) {
   .position {
       flex-direction: column; 
   }

   .gallery {
       width: 100%; 
   }

   .inside {
       text-align: center; 
   }
}


@media (max-width: 768px) {
   .zakaz {
       flex-direction: column; 
       align-items: center;
   }

   .inputt {
       margin: 10px 0; 
   }

   .about {
       flex-direction: column; 
   }
}
